.book{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(240, 225, 255);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(146, 89, 252);
  width: 25%;
}
.book-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-title{
  text-align: center;
  margin: 10px;
}
.book-img{
  height: 280px;
  object-fit: contain;
  margin: 8px;
}
.book-price{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-original-price{
  margin-bottom: 10px;
}
.buy-btn, .borrow-btn, .self-list-btn{
  padding: 8px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0px #000;
  font-weight: 600;
}
.buy-btn{
  background: rgb(113, 127, 247);
}
.borrow-btn{
  background: rgb(206, 132, 248);
}
.buy-btn:hover, .borrow-btn:hover{
  background: rgb(96, 47, 230);
  color: #fff;
}
.self-list-btn{
  background: rgb(100, 255, 147);
  cursor: not-allowed;
}

/*checkout page styles */
.book-checkout, .book-order{
  background: transparent;
  box-shadow: none;
  margin: 10px;
}
.book-img-checkout, .book-img-order{
  opacity: 1;
}
@media(max-width: 768px){
  .book{
    padding: 10px;
    transform: scale(0.9);
    margin: 5px;
  }
  .book-img{
    height: 180px;
  }
}